@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AGASYS</h1>
    <h2>Control Escolar</h2>
    <p class="lead">Este pograma realizara altas y bajas para Alumno, Materia, asi como la asignacion de materias para el alumno.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumno</h2>
        <p>
            En este modulo se realizara el registro de un alumno, asi como su modificación y/o eliminación. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materia</h2>
        <p>En este modulo se realizara el registro de una materia, asi como su modificación y/o eliminación. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Asignación de materias</h2>
        <p>En este modulo se realizara la asignación de materias a cada alumno registrado.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>